<div id="spree-footer" class="footer" data-hook>
  <ul>
    <li><%= Spree.t('footer.copyright') %></li>
    <li><%= link_to Spree.t('footer.privacy_policy'), spree.privacy_policy_path %></li>
    <li><%= link_to Spree.t('footer.contact_us'), '/contact-us' %></li>
  </ul>
</div>